.contact form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact .input-box {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.contact input,
.contact textarea {
  flex: 1 1 100%;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  background: var(--second-bg-color);
  color: var(--text-color);
}

.contact input::placeholder,
.contact textarea::placeholder {
  color: #ccc;
}

.footer {
  background: var(--second-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5%;
  flex-wrap: wrap;
}

.footer-text p {
  font-size: 1.4rem;
}

.footer-iconTop a {
  background: var(--main-color);
  padding: 0.6rem;
  border-radius: 50%;
  color: var(--bg-color);
  font-size: 1.6rem;
  transition: 0.3s;
}

.footer-iconTop a:hover {
  background: #0bcdd3;
}
